<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>ReactPack | Demo Isomorphic React w/ Webpack, Routing, Gubbins</title>
    </head>

    <body>
        <div id="markup"><%- markup %></div>

        <!-- *
             * comment out the script to see server-side handling ... 
             * essentially "disabling" javascript
             * -->
        <script src="http://localhost:1337/js/bundle.js"></script>
    </body>
</html>